{% extends 'base.html.twig' %}

{% block title %}Mon panier - Feelcrafts
{% endblock %}

{% block content %}
	<h1>Mon Panier</h1>
	Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.

	<table class="table mt-3">
		<thead>
			<tr>
				<th scope="col">Produit</th>
				<th scope="col"></th>
				<th scope="col">Quantité</th>
				<th scope="col">Prix</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
			{% set total = null %}
			{% for product in cart %}

				<tr>
					<th>
						<img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" width="75px" height="75px"><br/>
					</th>

					<td>
						{{product.product.name}}<br/>
						<small>{{product.product.subtitle}}</small>
					</td>
					<td>x
						{{product.quantity}}</td>
					<td>{{ (product.product.price / 100) | number_format(2,',','.') }}
						€</td>
					<td>{{ ((product.product.price * product.quantity) / 100) | number_format(2,',','.') }}
						€</td>
				</tr>
				{% set total = total + (product.product.price * product.quantity)  %}
			{% endfor %}
		</tbody>
	</table>
	<div
		class="text-right mb-5">
		{# Fonction pour afficher la somme des produit dans la carte #}
		<b>Nombre de produit :
		</b>
		{{ cart|length}}<br/>
		<b>Total de mon panier :
		</b>
		{{ (total / 100) | number_format(2,',','.') }}
		€
		<a href="" class="btn btn-success btn-block">Valider mon panier</a>
	</div>
{% endblock %}
