{% extends 'base.html.twig' %}
   
{% block title %}{{ product.name}}- Feelcrafts {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4 my-auto">
    <img src="/uploads/{{ product.illustration }}"  alt="{{ product.name }}" class="img-fluid product-page-img">
    </div>
    <div class="col-md-7 my-auto">
        <h3>{{ product.name}}</h3>
        <p> {{product.subtitle}}</p>
        <span class="product-page-price">{{ (product.price / 100) | number_format(2,',','.') }} €</span>
        <hr>
        <p> {{product.description}}</p>
        <hr>
        <a href="{{ path('add_to_cart',{'id' : product.id})}}" class="btn btn-primary">Ajouter au panier</a>
    </div>
	
    
</div>

{% endblock %}
