{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Feelcrafts
{% endblock %}

{% block content %}
	<h2>Je passe ma commande</h2>
	<p>Choisissez vos préférences avant de passer votre commande sur Feelcrafts</p>
	<hr>

	<div class="row">
		<div class="col-md-6">
			{% set formhtml %}
			{{form(form)}}
				{% endset %}
				{{ formhtml|replace({'[br]' : '<br/>'})|raw }}
			</div>

			<div class="col-md-6">
				<div class="text-center">
					<b>Récap de ma commande</b><br/>
					<p>Retrouvez le récapitulatif de vos produits.</p>
				</div>
				<div class="order-summary">
					{% for key,product in cart %}
						<div class="row {% if key > 0 %}mt-2 {% endif %}">
							<div class="col-2"><img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" width="75px" height="75px"></div>
							<div class="col-8 my-auto">
								{{product.product.name}}
								<br/>
								<small>{{product.product.subtitle}}</small>
							</div>
							<div class="col-2 my-auto">x
								{{product.quantity}}
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
		</div>
	{% endblock %}
